---
---

@import "{{ site.theme }}";
@import "fonts";


body {
    background-color: #fff;
    padding:50px;
    font: 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#727272;
    font-weight:400;
  }

section {
  width:800px;
  float:right;
  padding-bottom:50px;
}

h1 {
  font-size:28px;
}

.wrapper {
  width:1160px;
  margin:0 auto;
}
